.select {
    position: relative;
}

.controls {
    display: flex;
    gap: 2px;
}

.controls .toggle,
.controls .clear {
    background: none;
    border: none;
    padding: 0;
}

.controls .toggle {
    flex-grow: 1;
    display: flex;
    gap: 2px;
}

.controls .toggle .label {
    display: flex;
    flex-grow: 1;
    background-color: rgb(var(--color-semi-dark));
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.controls .toggle .label .text {
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    width: 44px;
    height: 44px;
    background-color: rgb(var(--color-semi-dark));
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--color-light));
}

.controls .toggle:last-child .icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls.opened .toggle .label {
    border-bottom-left-radius: 0;
}

.controls.opened .toggle .icon {
    border-bottom-right-radius: 0;
}

.controls .clear .icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls.opened .clear .icon {
    border-bottom-right-radius: 0;
}

.controls.opened .toggle .label,
.controls.opened .icon,
.controls.fulfilled .toggle .label,
.controls.fulfilled .icon {
    background-color: rgb(var(--color-light));
}

.controls.opened .toggle .label .text,
.controls.opened .icon,
.controls.fulfilled .toggle .label .text,
.controls.fulfilled .icon {
    color: rgb(var(--color-dark));
}

.options {
    width: 100%;
    max-height: calc(44px * 10);
    padding: 10px 5px;
    margin: 0;
    border: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgb(var(--color-light));
    border-top: 2px solid rgb(var(--color-dark));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    list-style-type: none;
    overflow-y: auto;
    z-index: 10;
}

.options::-webkit-scrollbar-thumb {
    border: 5px solid rgb(var(--color-light));
}

.option {
    display: block;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.option:not(:last-child) {
    margin-bottom: 5px;
}

.option:hover {
    background-color: rgb(var(--color-semi-light));
}

.option.selected {
    color: rgb(var(--color-light));
    background-color: rgb(var(--color-semi-dark));
}
