.header {
    position: relative;
}

.cover {
    width: 1400px; /* TODO: Переработать пропорции изображений на проекте */
    height: 600px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(var(--color-semi-dark), .5);
}

.info {
    width: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}