.breadcrumbs {
    color: rgb(var(--color-light));
    margin: 0;
    padding: 0;
}

.breadcrumb {
    display: inline-block;
    list-style-type: none;
}

.breadcrumb:not(:last-child)::after {
    content: "/";
    margin: 0 10px;
}