.variants {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.description {
    padding: 10px;
    margin: 0;
}

.variant {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    background-color: rgb(var(--color-dark));
    color: rgb(var(--color-light));
    font: unset;
    cursor: pointer;
}

.variant:disabled {
    cursor: default
}

.variant:not([disabled]):hover {
    background-color: rgb(var(--color-semi-dark));
}