.article {
    background-color: rgb(var(--color-semi-dark));
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.article.large {
    width: 1070px;
    height: 460px;
}

.article.medium {
    width: 350px;
    height: 350px;
}

.article .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article .overlay:nth-child(2) {
    background-image: linear-gradient(to top, rgba(var(--color-semi-dark), .8) 25%, rgba(var(--color-semi-dark), .2) 75%);
}

.article .overlay .header,
.article .overlay .content {
    padding: 20px;
}

.article .overlay .header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.article .overlay .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

.article.large .overlay .content {
    max-width: 670px;
}

.article .overlay .content a {
    text-decoration: none;
}

.article .overlay .content .title,
.article .overlay .content .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article .overlay .content .title {
    -webkit-line-clamp: 3;
}

.article .overlay .content .description {
    -webkit-line-clamp: 5;
}

.article .overlay .content .description:empty {
    display: none;
}
