/* <Header/> block-component */

.header {
    margin: 20px 0;
}

.header a {
    text-decoration: none;
    color: inherit;
}

/* <Paragraph/> block-component */

.paragraph a {
    text-decoration: underline;
    cursor: pointer;
}

/* <Picture/> block-component */

.figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.figure .image {
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.figure .caption {
    opacity: .5;
    text-align: center;
}

.figure .caption:empty {
    display: none;
}

.figure .preview {
    padding: 0;
    border: none;
    background: none;
}

.figure .preview::backdrop {
    background-color: rgba(var(--color-dark), .8);
}
