.button {
    width: 100%;
    border: none;
    display: flex;
    gap: 2px;
    text-decoration: none;
    cursor: pointer;
}

.button .label {
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    font: var(--font-small);
}

.button .icon {
    width: 44px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.semi-dark .label,
.button.semi-dark .icon {
    background-color: rgb(var(--color-semi-dark));
    color: rgb(var(--color-light));
}

.button.light .label,
.button.light .icon {
    background-color: rgb(var(--color-light));
    color: rgb(var(--color-dark));
}