.search {
    display: flex;
    gap: 1px;
    border-radius: 5px;
    overflow: hidden;
}

.input {
    padding: 10px 20px;
    border: none;
    flex-grow: 1;
    font: var(--font-medium);
    outline: none;
}

.input::placeholder {
    color: inherit;
}

.icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input,
.icon {
    background-color: rgb(var(--color-semi-dark));
    color: rgb(var(--color-light));
}

.search.fulfilled .input,
.search.fulfilled .icon,
.search:focus-within .input,
.search:focus-within .icon {
    background-color: rgb(var(--color-light));
    color: rgb(var(--color-dark));
}