.select {
    position: relative;
}

.controls {
    display: flex;
    gap: 1px;
    border-radius: 5px;
    overflow: hidden;
}

.controls .toggle,
.controls .clear {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.controls .toggle {
    flex-grow: 1;
    display: flex;
    gap: 1px;
}

.controls .toggle .label {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex-grow: 1;
    background-color: rgb(var(--color-semi-dark));
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}

.controls .toggle .label .text {
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    width: 44px;
    height: 44px;
    background-color: rgb(var(--color-semi-dark));
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--color-light));
}

.dropdown {
    max-height: 338px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgb(var(--color-light));
    background-color: rgb(var(--color-dark));
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    padding: 10px;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    z-index: 10;
}

.option {
    width: 100%;
    padding: 10px;
    color: rgb(var(--color-light));
    box-sizing: border-box;
    cursor: pointer;
}

.option.selected,
.option:focus,
.option:hover {
    background-color: rgb(var(--color-light));
    color: rgb(var(--color-dark));
}
