.tag {
    display: inline-block;
    padding: 0 7px;
    border-radius: 3px;
    font: var(--font-medium);
    color: rgb(var(--color-light));
    text-decoration: none;
}

.tag.dark {
    background-color: rgba(var(--color-dark), .75);
}

.tag.semi-dark {
    background-color: rgba(var(--color-semi-dark), .75);
}

.tag.semi-light {
    background-color: rgba(var(--color-semi-light), .75);
    color: rgb(var(--color-dark));
}

.tag.light {
    background-color: rgba(var(--color-light), .75);
    color: rgb(var(--color-dark));
}
