.text {
    all: unset;
    text-align: left;
}

.text.small {
    font: var(--font-small);
}

.text.medium {
    font: var(--font-medium);
}

.text.large {
    font: var(--font-large);
}

.text.dark {
    color: rgb(var(--color-dark));
}

.text.semi-dark {
    color: rgb(var(--color-semi-dark));
}

.text.semi-light {
    color: rgb(var(--color-semi-light));
}

.text.light {
    color: rgb(var(--color-light));
}

.text:empty {
    display: none;
}