html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    background-color: rgb(var(--color-dark));
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    font: var(--font-medium);
}

.scrollable::-webkit-scrollbar,
.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-semi-dark));
    border: 5px solid rgb(var(--color-dark));
    border-radius: 10px;
}

#header,
#app,
#footer {
    display: flex;
}

#header,
#footer {
    padding: 10px;
    color: rgb(var(--color-light));
}

#header .logotype {
    width: 50px;
    height: 50px;
    display: flex;
}

#header .logotype svg {
    margin: auto;
}

#app {
    flex-grow: 1;
}

#footer {
    justify-content: space-between;
}