:root {
    --color-light: 227, 227, 227;
    --color-semi-light: 205, 205, 205;
    --color-semi-dark: 43, 43, 43;
    --color-dark: 22, 22, 22;
    --font-medium: normal 16px/24px "IBM Plex Mono", sans-serif;
    --font-large: normal 26px/32px "IBM Plex Mono", sans-serif;
}
